:root {
    --fg-color: #edebd7;
    --bg-color-dark: #2e2e2e;
    --bg-color: #383633;
    --bg-color-light: #433f38;
    --ac-color: #ffc100;
    --ac-color-light: #e3b23c;
    --standard-padding: 1rem;
}

html, body {
    padding: 0;
}

html {
    background-color: var(--bg-color);
    margin: 0;
    font-size: 3vw;
}

body {
    font-family: 'Trebuchet MS';
    margin: var(--standard-padding);
}

md-block:not([rendered]) {
    display: none;
}

.blog-post {
    color: var(--fg-color);
    padding: var(--standard-padding);
    position: relative;
    margin-top: var(--standard-padding);
}

.blog-post h1 {
    color: var(--ac-color-light);
}

.blog-post footer {
    font-size: calc(var(--standard-padding) * 0.6);
    position: absolute;
    right: var(--standard-padding);
    bottom: var(--standard-padding);
}

.neumorphic {
    border-radius: var(--standard-padding);
    box-shadow:
        inset calc(var(--standard-padding) / 2) calc(var(--standard-padding) / 2) var(--standard-padding) var(--bg-color-dark),
        calc(var(--standard-padding) / 2) calc(var(--standard-padding) / 2) var(--standard-padding) var(--bg-color-dark),
        inset calc(var(--standard-padding) / -2) calc(var(--standard-padding) / -2) var(--standard-padding) var(--bg-color-light),
        calc(var(--standard-padding) / -2) calc(var(--standard-padding) / -2) var(--standard-padding) var(--bg-color-light);
}

.nav-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1);
    background-color: #e3b23c;
}

.nav-box a {
    background-color: #ffc100;
}

.centered {
    margin: auto 10%;
}

.hide-until-load {
    display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024) {
    html {
        font-size: calc(2vw);
    }
}

@media screen and (min-width: 1025px) {
    html {
        font-size: calc(1vw);
    }
}