:root {
    --fg-color: #384945;
    --bg-color-dark: #9CAFAA;
    --bg-color: #D6DAC8;
    --bg-color-light: #FBF3D5;
    --ac-color: #FA7070;
    --standard-padding: 1rem;
}

html, body {
    padding: 0;
}

html {
    background-color: var(--bg-color);
    margin: 0;
    font-size: 3vw;
}

body {
    color: var(--fg-color);
    font-family: 'Trebuchet MS';
    margin: var(--standard-padding);
}

md-block:not([rendered]) {
    display: none;
}

.blog-post {
    position: relative;
    width: 80%;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--ac-color);
}

.blog-post footer {
    font-size: calc(var(--standard-padding) * 0.6);
    position: absolute;
    right: var(--standard-padding);
    bottom: var(--standard-padding);
}

.neumorphic {
    padding: var(--standard-padding);
    margin-top: var(--standard-padding);
    margin-bottom: var(--standard-padding);
    border-radius: var(--standard-padding);
    box-shadow:
        inset calc(var(--standard-padding) / 2) calc(var(--standard-padding) / 2) var(--standard-padding) var(--bg-color-dark),
        calc(var(--standard-padding) / 2) calc(var(--standard-padding) / 2) var(--standard-padding) var(--bg-color-dark),
        inset calc(var(--standard-padding) / -2) calc(var(--standard-padding) / -2) var(--standard-padding) var(--bg-color-light),
        calc(var(--standard-padding) / -2) calc(var(--standard-padding) / -2) var(--standard-padding) var(--bg-color-light);
}

.raised {
    box-shadow:
        calc(var(--standard-padding) / 2) calc(var(--standard-padding) / 2) var(--standard-padding) var(--bg-color-dark),
        calc(var(--standard-padding) / -2) calc(var(--standard-padding) / -2) var(--standard-padding) var(--bg-color-light);
}

.pressed {
    box-shadow:
        inset calc(var(--standard-padding) / 2) calc(var(--standard-padding) / 2) var(--standard-padding) var(--bg-color-dark),
        inset calc(var(--standard-padding) / -2) calc(var(--standard-padding) / -2) var(--standard-padding) var(--bg-color-light);
}

.nav-box {
    width: 50%;
    border-spacing: calc(var(--standard-padding) * 2) var(--standard-padding);
}

.nav-box td {
    text-align: center;
    color: var(--ac-color);
}

.focus-box {
    position: flex;
    width: 80%;
    flex-direction: row;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.hide-until-load {
    display: none;
}

table {
    text-align: center;
    border-spacing: 0;
}

td {
    border-width: 1px;
    border-style: solid;
}

td {
    padding: 3px;
}

@media screen and (min-width: 769px) and (max-width: 1024) {
    html {
        font-size: calc(2vw);
    }
}

@media screen and (min-width: 1025px) {
    html {
        font-size: calc(1vw);
    }
}