<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="#home" class="navigation-links-link"><span>Home</span></a>
    <a href="#video_games" class="navigation-links-link1">
      <span>Video Games</span>
    </a>
    <a href="#tabletop_games" class="navigation-links-link2">
      <span>Tabletop Games</span>
    </a>
    <a href="#about" class="navigation-links-link3"><span>About</span></a>
    <a href="#contact" class="navigation-links-link4"><span>Contact</span></a>
  </nav>
</div>
