<div>
  <link href="./video-games1.css" rel="stylesheet" />
  <div class="video-games1-container">
    <div class="heading-container heading-root-class-name2">
      <h1><span>Video Games</span></h1>
    </div>
    <div class="video-games1-gallery">
      <div class="gallery-card1-gallery-card gallery-card1-root-class-name2">
        <img
          alt="A pixel art dungeon scene."
          src="https://img.itch.zone/aW1nLzIwMTg0NzMucG5n/original/ylnYGr.png"
          class="gallery-card1-image"
        />
        <a
          href
          target="_blank"
          rel="noreferrer noopener"
          class="gallery-card1-link"
        >
          <h2 class="gallery-card1-text"><span>Primeum</span></h2>
        </a>
        <span class="gallery-card1-text1">
          <span>Battle your way through a fierce dungeon to escape!</span>
        </span>
      </div>
      <div class="gallery-card1-gallery-card gallery-card1-root-class-name">
        <img
          alt="Who Rolls the Dice dungeon cover art"
          src="https://img.itch.zone/aW1nLzk1MDAxOTEucG5n/original/xcsLRJ.png"
          class="gallery-card1-image"
        />
        <a
          href="https://p13-l0v3r.itch.io/who-rolls-the-dice"
          target="_blank"
          rel="noreferrer noopener"
          class="gallery-card1-link"
        >
          <h2 class="gallery-card1-text"><span>Who Rolls the Dice?</span></h2>
        </a>
        <span class="gallery-card1-text1">
          <span>
            Become the RNG that not-so-randomly generates rogue-like dungeons!
          </span>
        </span>
      </div>
      <div class="gallery-card1-gallery-card gallery-card1-root-class-name1">
        <img
          alt="image"
          src="https://img.itch.zone/aW1nLzkzMDA5NDAucG5n/original/8EVd99.png"
          class="gallery-card1-image"
        />
        <a
          href="https://p13-l0v3r.itch.io/hamptercom"
          target="_blank"
          rel="noreferrer noopener"
          class="gallery-card1-link"
        >
          <h2 class="gallery-card1-text"><span>Hampter.com</span></h2>
        </a>
        <span class="gallery-card1-text1">
          <span>A sandbox game where you breed hamsters to run a server!</span>
        </span>
      </div>
    </div>
  </div>
</div>
